* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
body { font-size: 16px; }
a { text-decoration: none; }
a:active { outline: none; } 
ul { list-style: none; }
h1 { font-size: 2.6em; font-weight: 100; }

.flex { display: flex; }
.grid { display: grid; }
.wrapper { max-width: 1200px; margin: 0 auto; }
.hidden { display: none; }

/* HEADER */
header {
    height: 800px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}
.title {
    padding: 150px 0 50px 0;
    color: var(--safont-c);
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title span { font-size: 2em; margin: 0 0 50px 0; }
.icons { 
    width: 200px;
    margin: 50px auho 0;
    font-size: 1em; 
    align-items: center; 
    justify-content: space-between;
}
.social p { font-size: .8em; }

/* NAVIGATION */
.main-nav { 
    font-size: 17px; 
    align-items: center; 
    justify-content: space-between; 
}
.nav li { margin: 0 15px; }
.nav li a { color: #9eb9d6; }
.nav li a:hover { color: var(--safont-c); }
.fa-bars { display: none; }
.hamburger-menu {
    display: none;
    align-items: flex-end;
    flex-direction: column;
    position: relative; 
}
.hamburger-menu .hamburger-nav { position: absolute; top: 40px; }
.hamburger-menu .hamburger-nav li { margin: 4px 0; }
.hamburger-menu .hamburger-nav li .link-btn { padding: 0; margin: 0; } 
.hamburger-nav li a { color: #9eb9d6; }
.hamburger-li a:hover { color: var(--safont-c); }

/* BUTTONS */
.btn {
    background: transparent;
    border-radius: 70px;
    border: 1px solid transparent;
    line-height: 0;
    text-align: center; 
}
.lg-btn { width: 250px; height: 50px; font-size: 18px; }
.link-btn {
    margin-left: 35px;
    font-size: 1em;
    padding: 13px 41px;
    border-color: var(--mbbg-c);
    color: var(--mbbg-c);
}
.link-btn:hover {
    color: var(--safont-c);
    background: var(--mbbg-c);
    transition: 0.5s ease;
}
.download {
    width: 220px;
    margin: 28px 0 60px 0;
    padding: 20px 0;
    font-size: 1em;
    color: var(--safont-c);
    background: var(--mbbg-c);
    text-transform: uppercase;
}
.download:hover { 
    background: transparent; 
    color: var(--mbbg-c); 
    transition: 0.5s ease;
    border: 1px solid var(--mbbg-c);
}
.rates { 
    width: 185px;
    margin-top: 50px; 
    padding: 20px 35px;
    color: var(--mfont-c); 
    border-color: var(--b-c);
    text-transform: uppercase;
}
.rates:hover { 
    background: var(--abg-c); 
    color: var(--safont-c); 
    transition: 0.5s ease;
}
.more {
    width: 258px;
    margin-top: 99px;
    padding: 14px 60px;
    color: var(--mfont-c);
    border-color: var(--b-c);
    font-size: 1em;
    text-transform: uppercase; 
}
.more:hover { 
    background: var(--abg-c); 
    color: var(--safont-c); 
    transition: 0.5s ease;
}

/* Everyday chat */ 
.evdchat { align-items: center; justify-content: space-between; } 
.evdchat_content { width: 370px; flex-direction: column; }
.evdchat_content img { margin-right: 20px; }
.evdchat_head { flex-direction: row; align-items: center; }
.chat { font-size: 2.6em; }
.stay_close { font-size: 1.25em; margin-top: 25px; } 

/* Everything you want to share */
.everything { background: var(--abg-c); text-align: center; }
.share { flex-direction: column; align-items: center; }
.share_icon { padding: 30px 0 14px 0; }
.want_to_share { 
    padding-bottom: 22px; 
    font-size: 2.6em; 
    color: var(--safont-c); 
}
.collaboration {  
    padding-bottom: 28px; 
    font-size: 1.25em; 
    color: var(--safont-c);
    display: block;
}

/* Call mobiles */
.mobileskype { 
    background: #f2f6f7; 
    padding-top: 100px;
    align-items: center; 
    justify-content: space-between;
}
.call { justify-content: space-between; align-items: flex-end; }
.call_home { width: 400px; margin: 25px 0; font-size: 1.25em; }
.moblines { flex-direction: column; margin: auto 0; }
.moblines img { margin-right: 34px; }
.mobiles_head {  flex-direction: row; align-items: center; }

/* MORE FEAUTERS */
.feauters {
    margin-top: 120px;
    text-align: center;
    height: 100%;
}
.free { font-size: 2.6em; }
.skype_features { display: block; font-size: 1.25em; margin-bottom: 50px; }
.scope { grid-template-columns: 1fr 1fr 1fr; }
.scope_items {
    padding: 30px 0;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}
.scope_items a { color: var(--mfont-c); margin: 20px 0; }
.scope_items span { height: 100px; }
.screen { margin-bottom: 30px;}

/* FOOTER */
.get-skype {
    padding-top: 75px;
    align-items: center;
    flex-direction: column;
    color: var(--safont-c);
    position: relative;
    z-index: 1;
}
.get-skype span { font-size: 1em; }
.get-skype .lg-btn { padding-top: 28px; }
.opacity {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    opacity: 0.68;
    z-index: -1;
}
.footer { margin-top: 84px; }
.footer-container { font-size: .8em; justify-content: space-between; }
.privacy { margin: auto 0; width:649px; }
.copyright {
    margin-top: 35px;
    margin-bottom: 35px;
    align-items: flex-end;
    flex-direction: column;
    width:199px;
    opacity: 0.75;
    z-index: -1;
}

/* SIGN-UP */

.sign-up_window {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    flex-direction: column;
    padding: 25px 50px;
    background: grey;
    margin: 0 auto;
    width: 650px;
    border-radius: 10px;
    height: 370px;
}
.sign-up_info { flex-direction: column; align-items: center;  }
.sign-up_header { justify-content: space-between; margin-bottom: 45px; align-items: center;}
.fa-times { color: #9eb9d6; }
.fa-times:hover { color: var(--safont-c); cursor:pointer; }
.sign-up_info { width: 300px; margin: 0 auto; justify-content: space-between; } 
.sign-up_create_member {    
    flex-direction: row;
    margin-bottom: 25px;
    line-height: 25px; 
}
.sign-up_create_member label { text-transform: uppercase; }
.sign-up_create_member input { height: 25px; outline: none; width: 200px; margin-left: 10px;}
.sign-up_button_container { margin: 0 auto; }
.sign-up_button  { 
    line-height: 0;
    border-radius: 70px;
    text-align: center;
    width: 220px;
    margin: 28px 0 30px 0;
    padding: 20px 0;
    background: #7fba00;
    text-transform: uppercase;
}
.sign-up_button_container a { color: #fff; font-size: 1em; }
.sign-up_registration { text-align: center; }
.sign-up_registration a {color: #fff;}
