* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
a { text-decoration: none; }
ul { list-style: none; }
.flex { display: flex; }
.grid { display: grid; }
.wrapper { width: 1200px; margin: 0 auto; }
/* HEADER */
header {
    height: 800px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

/* NAVIGATION */
.main-nav { font-size: 17px; align-items: center; justify-content: space-around; }
.nav li { margin: 0 15px; }
.nav li a { color: var(--safont-c); }

/* BUTTONS */
.btn {
    background: transparent;
    padding: 10px 15px;
    border-radius: 70px;
    border: 1px solid transparent;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
}
.lg-btn { width: 250px; height: 50px; font-size: 18px; }
.link-btn {
    margin-left: 35px;
    font-size: 15px;
    padding: 13px 41px;
    border-color: var(--mbbg-c);
    color: var(--mbbg-c);
}

/* MORE FEAUTERS */
.feauters {
    margin-top: 120px;
    text-align: center;
    height: 100%;
}
.free { font-size: 38px; }
.skype_features { font-size: 22px; }
.scope {
    grid-template-columns: 1fr 1fr 1fr;
}
.scope_items {
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    flex-direction: column;
    width:200px;
    margin:0 auto;
}
.scope_items a {
    color: var(--mfont-c);
}
.screen { margin-bottom: 30px;}
.more {
    margin-top: 99px;
    color: var(--mfont-c);
    width:258px;
    padding: 20px 20px;
    font-size: 15px;
    border-color: var(--b-c) ; 
}

/* FOOTER */
.get-skype {
    padding-top: 75px;
    align-items: center;
    flex-direction: column;
    color: var(--safont-c);
    position: relative;
    z-index: 1;
}
.get-skype span {
    font-size: 17px;
}
.opacity {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    opacity: 0.68;
    z-index: -1;
}
.download {
    width:258px;
    padding: 20px 20px;
    font-size: 15px;
    color: var(--safont-c);
    background: var(--mbbg-c);
    margin-top: 28px;
    margin-bottom: 60px;
}
.footer {
    margin-top: 84px;
}
.footer-container {

    font-size: 13px;
    justify-content: space-around;
}
.privacy {
    margin-top: 45px;
    width:649px;
}
.copyright {
    margin-top: 35px;
    margin-bottom: 35px;
    align-items: flex-end;
    flex-direction: column;
    width:199px;
    opacity: 0.75;
    z-index: -1;
}
.get-skype .lg-btn {
    padding-top: 28px;
}

