* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

a { text-decoration: none; }
a:active { outline: none;} 
ul { list-style: none; }

.flex { display: flex; }
.grid { display: grid; }
.wrapper { width: 1200px; margin: 0 auto; }

/* HEADER */
header {
    height: 800px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}
.title {
    color: var(--safont-c);
    padding: 150px 0 50px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title span { font-size: 34px; margin: 0 0 50px 0;}
.icons { 
    width: 200px;
    margin: 50px auto 0;
    font-size: 17px; 
    align-items: center; 
    justify-content: space-between;
}
.social p { font-size: 12px; }

/* NAVIGATION */
.main-nav { 
    font-size: 17px; 
    align-items: center; 
    justify-content: space-between; 
}
.nav li { margin: 0 15px; }
.nav li a { color: #9eb9d6; }
.nav li a:hover {color: var(--safont-c);}

/* BUTTONS */
.btn {
    background: transparent;
    border-radius: 70px;
    border: 1px solid transparent;
    line-height: 0;
    text-align: center;    
}
.lg-btn { width: 250px; height: 50px; font-size: 18px; }
.link-btn {
    margin-left: 35px;
    font-size: 15px;
    padding: 13px 41px;
    border-color: var(--mbbg-c);
    color: var(--mbbg-c);
}
.link-btn:hover {
    color: var(--safont-c);
    background: var(--mbbg-c);
    transition: 0.5s ease;
}
.download {
    width: 220px;
    padding: 20px 0;
    font-size: 16px;
    color: var(--safont-c);
    background: var(--mbbg-c);
    margin-top: 28px;
    margin-bottom: 60px;
    text-transform: uppercase
}
.download:hover { 
    background: transparent; 
    color: var(--mbbg-c); 
    transition: 0.5s ease;
    border: 1px solid var(--mbbg-c);
}
.rates { 
    color: var(--mfont-c); 
    border-color: var(--b-c);
    width: 185px; 
    padding: 20px 37px
}
.rates:hover { 
    background: var(--abg-c); 
    color: var(--safont-c); 
    transition: 0.5s ease;
}
.more {
    margin-top: 99px;
    color: var(--mfont-c);
    width:258px;
    padding: 14px 60px;
    font-size: 15px;
    border-color: var(--b-c) ; 
}
.more:hover { 
    background: var(--abg-c); 
    color: var(--safont-c); 
    transition: 0.5s ease;
}

/* Everyday chat */ 
.evdchat { text-align: left; align-items: center;}
.evdchat_content { flex-direction: column;}
.evdchat_content img { margin:0px 30px 0px 154px;}
.chat { font-size: 42px; margin-bottom: 30px;}
.stay_close { font-size: 20px; width: 370px; margin:32px 30px 0px 154px;} 

/* Everything you want to share */
.everything { background: var(--abg-c); text-align: center;}
.share { flex-direction: column; align-items: center; }
.share_icon { padding-top: 51px; padding-bottom: 28px; }
.want_to_share { padding-bottom: 22px; font-size: 42px; color: var(--safont-c);}
.collaboration { padding-bottom: 28px; font-size: 20px; color: var(--safont-c); width: 755px;}

/* Call moblines */
.mobileskype { background: #f2f6f7;}
.call { padding-top: 130px; justify-content: space-between; align-items: center;}
.call_home { width: 400px; margin-bottom: 64px; font-size: 20px;}
.moblines { flex-direction: column; }
.moblines img { margin-right: 34px;}
.text_img { width:388px; font-size: 42px; margin-bottom: 75px; }


/* MORE FEAUTERS */
.feauters {
    margin-top: 120px;
    text-align: center;
    height: 100%;
}
.free { font-size: 38px; }
.skype_features { font-size: 22px; }
.scope {
    grid-template-columns: 1fr 1fr 1fr;
}
.scope_items {
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    flex-direction: column;
    width:200px;
    margin:0 auto;
}
.scope_items a {
    color: var(--mfont-c);
}
.screen { margin-bottom: 30px;}


/* FOOTER */
.get-skype {
    padding-top: 75px;
    align-items: center;
    flex-direction: column;
    color: var(--safont-c);
    position: relative;
    z-index: 1;
}
.get-skype span {
    font-size: 17px;
}
.get-skype .lg-btn {
    padding-top: 28px;
}
.opacity {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    opacity: 0.68;
    z-index: -1;
}
.footer {
    margin-top: 84px;
}
.footer-container {
    font-size: 13px;
    justify-content: space-between;
}
.privacy {
    margin-top: 45px;
    width:649px;
}
.copyright {
    margin-top: 35px;
    margin-bottom: 35px;
    align-items: flex-end;
    flex-direction: column;
    width:199px;
    opacity: 0.75;
    z-index: -1;
}
