:root {
    /*Фон*/
    --mbg-c: #fff;              /*Основной цвет фона*/
    --abg-c: #2ba7de;           /*Альтернативный цвет фона*/
    /*Текст*/
    --mfont-c: #2ba7de;         /*Основной цвет текста*/
    --afont-c: #000;            /*Альтернативный цвет текста*/
    --safont-c: #fff;           /*Вторичный альтернативный цвет текста*/
    /*Кнопки*/
    --mbbg-c: #7fba00;          /*Основной цвет кнопки*/
    --abbg-c: #fff;             /*Основной цвет кнопки*/
    --b-c: #2ba7de;             /*Цвет контура кнопки*/
}
